---
# See: https://docs.github.com/ja/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/about-dependabot-version-updates
# See: https://docs.github.com/ja/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/enabling-and-disabling-version-updates
# REF: https://dependabot.com/docs/config-file/validator/
version: 2

# See: https://docs.github.com/ja/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/configuration-options-for-dependency-updates
updates:
  - package-ecosystem: "npm"
    directory: "/website"
    schedule:
      interval: "daily"
      time: "18:00"
    labels: ["website", "dependencies"]

  - package-ecosystem: "bundler"
    directory: "/macos"
    schedule:
      interval: "daily"
      time: "18:00"
    labels: ["mac", "dependencies"]
    versioning-strategy: increase

  # See: https://docs.github.com/ja/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/keeping-your-actions-up-to-date-with-dependabot
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      time: "18:00"
    labels: ["GitHub Actions", "dependencies"]
