---
# See: https://docusaurus.io/docs/deployment#triggering-deployment-with-github-actions

name: Deploy Website

on:
  push:
    branches: [main]
    paths:
      - '.github/workflows/deploy_website.yaml'
      - 'website/**'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    defaults:
      run:
        working-directory: website

    steps:
      - uses: actions/checkout@v6

      # https://github.com/actions/setup-node/issues/206#issuecomment-774538395
      - uses: nodenv/actions/node-version@main
        id: nodenv
      - uses: actions/setup-node@v6
        with:
          node-version: '${{ steps.nodenv.outputs.node-version }}'

      - run: |-
          # See: https://github.com/actions-user
          git config --global user.email "actions@github.com"
          git config --global user.name "gh-actions"
      - run: yarn install --frozen-lockfile
      - run: yarn build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./website/build
          # The following lines assign commit authorship to the official
          # GH-Actions bot for deploys to `gh-pages` branch:
          # https://github.com/actions/checkout/issues/13#issuecomment-724415212
          # The GH actions bot is used by default if you didn't specify the two fields.
          # You can swap them out with your own user credentials.
          user_name: github-actions[bot]
          user_email: 41898282+github-actions[bot]@users.noreply.github.com
