---
# See: https://github.com/crate-ci/typos/blob/master/docs/github-action.md

name: Prevent typos

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  check_typos:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: crate-ci/typos@master
        with:
          config: .github/.typos_config.toml
