---
# See: https://docusaurus.io/docs/deployment#deploying-to-github-pages

name: Build Website

on:
  pull_request:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build_docusaurus:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    defaults:
      run:
        working-directory: website

    steps:
      - uses: actions/checkout@v3

      # https://github.com/actions/setup-node/issues/206#issuecomment-774538395
      - uses: nodenv/actions/node-version@main
        id: nodenv
      - uses: actions/setup-node@v3
        with:
          node-version: '${{ steps.nodenv.outputs.node-version }}'

      - run: yarn install --frozen-lockfile
      - run: yarn build
